name: Build and Push Docs

on:
  push:
    branches:
      - master  # Triggers whenever you push to master
    paths-ignore:
      - 'docs/**' # Prevents an infinite loop when the action pushes to docs

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          # Necessary to allow the bot to push back to the repo
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20' # Or your preferred version
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'

      - name: Install Dependencies
        run: cd frontend && npm install

      - name: Build Project
        run: cd frontend && npm run build
        env:
          # Map your GitHub Secrets to Env Variables here
          VITE_GOOGLE_CLIENT_ID: ${{ secrets.VITE_GOOGLE_CLIENT_ID }}
          GOOGLE_CLIENT_ID: ${{ secrets.GOOGLE_CLIENT_ID }}
          VITE_IS_CLOUD_RUN: true
          VITE_ENVIRONMENT: cloudrun
          VITE_CLOUD_RUN_URL: https://gopdfsuit.ue.r.appspot.com
          VITE_API_URL: https://gopdfsuit.ue.r.appspot.com
          CLOUD_RUN_SERVICE_URL: https://gopdfsuit.ue.r.appspot.com

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: automated build update [skip ci]"
          file_pattern: 'docs/*' # Only commit changes in the docs folder
          branch: build
          create_branch: true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: build
          base: master
          title: 'Automated build update'
          body: 'This PR contains automated build artifacts from the latest commit.'
          delete-branch: true