name: Build Python Bindings

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    runs-on: ${{ matrix.os }}
    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Build shared library
        shell: bash
        run: |
          cd bindings/python
          ./build.sh

      - name: Build Python Package
        shell: bash
        run: |
          cd bindings/python
          pip install build
          python -m build

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist-${{ matrix.os }}
          path: bindings/python/dist/
